<%- include ../../temp/header.ejs %>


 <main class="form-signin">
   <form>
    <%- include ../../temp/top-head.ejs %>
     <h1 class="h3 mb-3 fw-normal">Skráðu þig í röðina</h1>
     <label for="inputEmail" class="visually-hidden">Símanúmer</label>
     <input type="email" id="inputEmail" class="form-control" placeholder="Símanúmer" required autofocus>
     <br>
     <button class="w-100 btn btn-lg btn-success" type="submit">Staðfesta</button>
     <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
   </form>
 </main>



<%- include ../../temp/footer.ejs %>
