<%- include ../../temp/header.ejs %>


 <main class="form-signin">
   <form>
    <%- include ../../temp/top-head.ejs %>
     <h1 class="h3 mb-3 fw-normal">Þjónustan er ekki í boði í augnablikinu.</h1>
     <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
   </form>
 </main>



<%- include ../../temp/footer.ejs %>
