<%- include ../../temp/header.ejs %>


 <main class="form-signin">
   <form>
     <%- include ../../temp/top-head.ejs %>
     <h1 class="h3 mb-3 fw-normal">Þú ert númer</h1>
     <h1 class="number-in-row">7</h1>
     <br>
     <br>
     <button class="w-100 btn btn-lg btn-danger" type="submit">Fara úr röð</button>
     <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
   </form>
 </main>



<%- include ../../temp/footer.ejs %>
