<%- include ../../temp/header.ejs %>


 <main class="form-signin">
   <form>
     <%- include ../../temp/top-head.ejs %>
     <h1 class="number-in-row display">7</h1>
     <br>
     <br>
     <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
   </form>
 </main>



<%- include ../../temp/footer.ejs %>
